<div class="mt-4">
<form method="POST" action="/herbal-tea/store" >
  <div class="mb-3">
    <label for="name" class="form-label"  >Thêm sản phẩm</label>
    <input type="text" class="form-control" name="name" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label for="price" class="form-label"  >Thêm Giá</label>
    <input type="number" class="form-control" name="price" id="exampleInputEmail1" >
  </div>
  <div class="mb-3">
    <label for="image" class="form-label"  >Thêm hình ảnh</label>
    <input type="text" class="form-control" name="image" id="exampleInputEmail1" >
  </div>
  <button type="submit" class="btn btn-primary">THÊM</button>
</form>
</div>