<div class="mt-4">
  <div class="row">
    {{#with herbalTeas}}
    <div class="col-sm-6 col-lg-4">
      <div class="card card-herbalTeas">

        <img src="{{this.image}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>       
          <p class="card-text">{{this.price}}</p>
          <a href="#" class="btn btn-primary">THÊM</a>
        </div>
      </div>
    </div>
    {{/with}}

  </div>
</div>