.card-herbalTeas {
  margin-top: 16px; }

.select-all-option {
  margin: 0 16px; }

.icon-header {
  font-size: x-large;
  margin: 0 4px; }

.card-body-content {
  padding: 1.6rem 0; }

.herbal-news {
  border: none; }

.image-news {
  transition: .5s ease all;
  width: 100%;
  object-fit: cover; }

.image-news:hover {
  transform: scale(1.01); }

.card-herbalTeas {
  border: none; }

.herbalImg {
  text-decoration: none;
  color: black;
  font-size: small; }

.slide-show {
  border: 1px solid black; }

.show-name-two:focus {
  color: black; }
