<div class="mt-4 d-flex justify-content-evenly" style="background-color: #F4F4F2;">
  <div
    class="card mb-3 col-6 px-5"
    style="max-width: 540px; border:none; background-color:transparent"
  >
    <div class="row g-0">
      <div class="col-md-4" style="padding:20px">
        <img
          src="/img/citalogo.png"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <p class="card-text" style="font-size:0.9rem ;">Tiệm trà Cita Herb được
            thành lập từ tháng 6 năm 2020, mục đích
            duy nhất là thoả mãn đam mê bán trà, cũng như giúp cho mọi người
            được tiếp cận với các loại trà dễ hơn. Mỗi loại trà bán ra, tiệm
            chúng tôi đã trải qua bao lần thử nghiệm, đảm bảo tất cả
            các khâu chế biến, sản xuất để có được một hộp tràchất
            lượng. </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8 d-flex justify-content-evenly py-3">
    <div
      class="footer-info d-flex justify-content-start align-items-start flex-column px-4"
    >
      <p class="fw-semibold fs-5">TIN TỨC</p>
      <br />
      <div>
        <button
          style="border:none; border-radius:unset; background-color:#EEEEEE"
          type="button"
          class="btn btn-outline-primary"
        > <i class="fa-brands fa-facebook" style="color:black"></i></button>
        <button
          style="border:none; border-radius:unset; background-color:#EEEEEE"
          type="button"
          class="btn btn-outline-primary"
        ><i class="fa-brands fa-instagram" style="color:black"></i></button>
        <button
          style="border:none; border-radius:unset; background-color:#EEEEEE"
          type="button"
          class="btn btn-outline-danger"
        ><i class="fa-brands fa-youtube" style="color:black"></i></button>
      </div>
      <p>toiyeutra.vn@gmail.com</p>
    </div>

    <div
      class="footer-polite d-flex justify-content-start align-items-start flex-column"
    >
      <p class="fw-semibold fs-5 d-flex justify-content-center">CHÍNH SÁCH</p>
      <br />
      <a href="" style="text-decoration:none; color:black">Hình thức thanh toán</a>
      <a href="" style="text-decoration:none; color:black">Chính sách & Quy định
        chung</a>
      <a href="" style="text-decoration:none; color:black">Chính sách bảo mật
        thông tin</a>
      <a href="" style="text-decoration:none; color:black">Chính sách đổi trả
        hàng</a>

    </div>
  </div>

</div>
<div
  class="d-flex justify-content-center align-items-center flex-column"
  style="background-color:#CECCC5; padding:0.8rem 0"
>
  <div>© Bản quyền thuộc về Tiệm Trà Cita Herb</div>
  <div>Địa chỉ: 107 Giáp Nhất,Phường Thượng Đình,Quận Thanh Xuân, Hà Nội</div>
</div>