<div class="herbal-wholesale mt-5 row">
  <h2 class="fw-bold">
    Liên hệ
  </h2>
  <p>
    VPGD: 107 Giáp Nhất,Phường Thượng Đình,Quận Thanh Xuân, Hà Nội
  </p>
  <p>
    Email: toiyeutra.vn@gmail.com
  </p>
  <p>
    Điện thoại: 0987.829.935 (Mrs Nhật)
  </p>

    <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Họ và tên*</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Số điện thoại*</label>
    <input type="number" class="form-control" id="exampleInputPassword1">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Nội dung</label>
    <textarea  class="form-control" id="exampleInputPassword1"></textarea>
  </div>
  
  <button type="submit" class="btn btn-primary">Gửi thông tin</button>
</form>
</div>