<div class="herbal-wholesale mt-5 row">
  <h2 class="fw-bold">
    Liên hệ
  </h2>
  <p>
    Showroom: 107 Giáp Nhất,Phường Thượng Đình,Quận Thanh Xuân, Hà Nội
  </p>
  <p>
    Email: toiyeutra.vn@gmail.com
  </p>
  <p>
    Điện thoại: 0355.159.191 (Mrs Nhật)
  </p>

  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Họ và tên*</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Số điện thoại*</label>
      <input type="number" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Nội dung</label>
      <textarea class="form-control" id="exampleInputPassword1"></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Gửi thông tin</button>
  </form>
  
  <iframe
    class="mt-3 "
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.721983292317!2d105.81457781540215!3d21.003778694005582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac9b4ecd07a9%3A0x92075f899a18e3e5!2zMTA3IFAuIEdpw6FwIE5o4bqldCwgVGjGsOG7o25nIMSQw6xuaCwgVGhhbmggWHXDom4sIEjDoCBO4buZaSwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1668826269958!5m2!1svi!2s"
    width="600"
    height="450"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  ></iframe>
</div>