<div class="herbal-introduce mt-5 row">
  <h2 class="fw-bold">
    Trà Thảo Mộc Cita Herb - Thảo Mộc Tự Nhiên Cho Sức Khỏe
  </h2>
  <p>
    Trà Thảo Mộc Cita Herb cung cấp những sản phẩm trà thảo mộc và dược liệu
    truyền thống được khai thác bền vững, giữ trọn độ tinh khiết tự nhiên, thân
    thiện với môi trường. Chúng tôi hướng tới việc cung cấp các sản phẩm trà
    thảo mộc tốt cho sức khỏe, và là nhà tiên phong về các loại trà dược liệu
    tại Việt Nam.
  </p>
  <div class="col-2 mt-2"></div>
  <img
    class="col-8"
    src="/img/womentea.png"
    alt=""
  />
  <div class="col-2"></div>
  <div class="d-flex justify-content-center">
    <p class="fst-italic fs-6">Với những loại trà ngon và an lành với sức khoẻ,
      Trà Thảo Mộc Cita Herbthân mời quý khách hãy ghé thăm gian hàng trực
      tuyến, và chọn lựa những vị trà mà chúng tôi đã nỗ lực tìm kiếm tuyển lựa.</p>
  </div>

  <p>
    Tại Tôi Yêu Trà, các sản phẩm được chế tác một cách khéo léo, pha trộn và
    đóng gói theo phương thức an toàn và thân thiện nhất. Chúng tôi hợp tác với
    nông dân và các hợp tác xã quy mô nhỏ phát triển nguồn nguyên liệu thảo mộc
    phong phú của Việt Nam nhằm đảm bảo lợi ích điều trị tối ưu, hương vị đặc
    biệt và tác động tối thiểu đến môi trường. Chúng tôi hy vọng, mỗi tách trà
    của Trà Thảo Mộc Cita Herbsẽ là nguồn cảm hứng để bạn tận hưởng những khoảng
    thời gian tuyệt vời, chăm sóc sức khoẻ và chia sẻ những khoảng thời gian thú
    vị với những người yêu quý.
  </p>
  <h5>
    THẢO MỘC
  </h5>
  <p>Trà Thảo Mộc Cita Herb tin rằng sản phẩm tốt nhất cho sức khoẻ là những sản
    phẩm tự nhiên nguyên chất và không có phụ gia hoặc hương vị không cần thiết.
    Chúng tôi chọn sử dụng thảo mộc chất lượng cao, các thành phần hữu cơ được
    chứng nhận, kiểm soát chất lượng và thu hái một cách tự nhiên.</p>

  <h5>CHUYÊN GIA</h5>
  <p>
    Trà Thảo Mộc Cita Herb may mắn làm việc với các chuyên gia về nông nghiệp,
    thảo dược, nhà hóa học, và các thầy thuốc truyền thống... để tìm kiếm những
    giải pháp trà an toàn và bền vững, đặc biệt là mang lại những giá trị thực
    sự cho sức khỏe.
  </p>
  <div class="col-2"></div>
  <img
    class="col-8"
    src="/img/introduceimg2.png"
    alt=""
  />
  <div class="col-2"></div>
  <div class="d-flex justify-content-center">
    <p class="fst-italic fs-6">Các loại trà được chọn lọc và nghiên cứu kỹ</p>
  </div>

  <h5>CAM KẾT</h5>
  <p>Trà Thảo Mộc Cita Herb cam kết bảo tồn, phát triển bền vững và ứng dụng
    hiệu quả thảo mộc Việt Nam trong việc chăm sóc, nâng cao sức khỏe cho mọi
    người.</p>
  <h5>ĐỘI NGŨ</h5>
  <p>Trà Thảo Mộc Cita Herb là giấc mơ trở thành sự thật đối với những thành
    viên sáng lập, chúng tôi có thể chia sẻ niềm đam mê của mình cho trà thảo
    mộc và đã trở thành chuyên gia trong lĩnh vực trà và thảo mộc.</p>
  <p>Trà Thảo Mộc Cita Herb là sự nhiệt huyết đam mê về thảo mộc Việt Nam. Tìm
    tòi, học hỏi, giao lưu kinh nghiệm và thưởng thức nhiều loại trà thảo mộc
    trong nước và quốc tế. Mong muốn mang lại những giá trị sức khỏe lâu bền cho
    cồng đồng.</p>
</div>