<div class="herbal-wholesale mt-5 row">
  <h2 class="fw-bold">
    Bán sỉ trà thảo mộc
  </h2>
  <p>
    Trà Thảo Mộc Cita Herb - Cam Kết Cung Cấp Trà Thảo Mộc Chất Lượng Tốt Nhất & Sản Lượng Ổn
    Định Quanh Năm. Liên hệ làm đại lý hoặc đặt hàng số lượng lớn qua Hotline:
    0987.829.935 (Mrs Nhật)
  </p>
    <div class="d-flex justify-content-center">
        <img class="border border-3" src="https://toiyeutra.vn/upload/files/tra%20hoa%20ban%20buon.jpg" alt="">
    </div>
</div>